/*----------------------
      Google Fonts 
-----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*----------------------
      Common Styles 
-----------------------*/
:root {
  --primary-color: #3a3a3a;
  --primary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  background: #ffffff;
}
.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.primary-btn {
  height: 44px;
  color: #fff;
  padding: 10px 24px;
  background: #e02c6d;
  border-radius: 41px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.primary-btn i {
  display: inline-block;
  margin-left: 5px;
  top: 3px;
  position: relative;
}
img {
  max-width: 100%;
}
/*----------------------
      Header Styles 
-----------------------*/
.header {
  padding-top: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.humber-menu {
  display: none;
}
.logo a {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color);
}
.nav-right-container {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  text-transform: capitalize;
}
.search,
.cart {
  display: flex;
  align-items: center;
}
.search i {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}
.cart i {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}
/*----------------------
      Banner Styles 
-----------------------*/
.banner {
  padding-top: 80px;
}
.banner-container {
  display: flex;
  gap: 130px;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
/* Media Queries */
@media screen and (max-width: 992px) {
  .menu,
  .nav-right-container {
    gap: 25px;
  }
}
/* Tablets Responsive code */
@media screen and (max-width: 768px) {
  .humber-menu {
    display: flex;
  }
  .menu,
  .search {
    display: none;
  }
  .cart i,
  .humber-menu {
    font-size: 24px;
    font-weight: 500;
  }
}
/* Mobile Responsive code */
@media screen and (max-width: 576px) {
  .logo a {
    font-size: 16px;
  }
}
