/*----------------------
      Google Fonts 
-----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*----------------------
      Common Styles 
-----------------------*/
:root {
  --primary-color: #3a3a3a;
  --primary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  background: #ffffff;
}
.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
/*----------------------
      Header Styles 
-----------------------*/
.header {
  padding-top: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-color);
}
.nav-right-container {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);
}
.search,
.cart {
  display: flex;
  align-items: center;
}
.search i {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}
.cart i {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}
